/****************************************/
/* Music Sorting Page
/****************************************/
#music-album-content {
    margin: 70px 0;
    padding-bottom: 100px;
}

.music-page-title {
    text-transform: uppercase;
    text-align: center;
}

.sorting-container {
    width: 100%;
    margin-bottom: 20px;
    background-color: #000000;
}

.sorting-container button {
    border: none;
    border-radius: 0;
    margin-right: 5px;
    background-color: #000000;
    color: #ffffff;
    transition: all 0.25s ease;
}

.sorting-container button:hover,
.sorting-container button.mixitup-control-active {
    background-color: #ffffff;
    color: #000000;
}

.music-album {
    display: inline-block;
    width: 33.3%;
}   
.music-album .album-cover {
    position: relative;
    min-height: 380px;
    max-width: 526px;
    max-height: 526px;
    margin: 10px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
.music-album a {
    display: block;
    height: 100%;
    cursor: pointer;
}
.music-album a:hover .album-overlay {
    opacity: 1;
}
.music-album:hover .album-overlay {
    visibility: visible;
    opacity: 1;
}

.album-overlay a {
    position: relative;
    /*top: 43%;*/
    left: 25%;
    width: 50%;
    padding: 10px;
    border: 1px solid #ffffff;
    display: inline-block;
    text-transform: uppercase;
    text-align: center;
    color: #ffffff !important;
    transition: all 0.25s ease;
}
.album-overlay a:hover {
    background-color: #000000;
}



.music-album .album-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    opacity: 0;
    visibility: hidden;
    transition: all 0.25s ease;
}
.music-album .album-overlay .overlay-content {
    position: absolute;
    top: 43%;
    /* left: 50%; */
    width: 100%;
}
.overlay-content p {
    margin: 0;
    text-align: center;
    color: #ffffff;
    text-transform: uppercase;
}
.overlay-content h3 {
    margin: 0;
    text-align: center;
    color: #ffffff;
    text-transform: uppercase;
}






/****************************************/
/* Music Detail Page
/****************************************/
.parallax {  
    /*background-image: url("http://localhost/parsonjames/wp-content/uploads/sites/3/2017/01/banner1.jpg");
    width: 100%;*/
    height: 500px; 
    background-attachment: fixed;
    background-position: center top;
    background-repeat: no-repeat;
    background-size: contain;
    margin-left: -410px;
    margin-right: -410px;
    pointer-events: none;
    /*-webkit-filter: blur(2px);
    filter: blur(2px);
    background-color: #000000;

    display: block;
    filter: blur(5px);
    -webkit-filter: blur(5px);*/

    /*position: fixed;
    left: 0;
    right: 0;
    z-index: 1;*/
}

.parallax-window {
    min-height: 500px;
    margin-left: -410px;
    margin-right: -410px;
    background: transparent;
}
    
.parallax-content {
    /*position: relative;
    top: -300px;
    width: 50%;*/
    /*margin: 50px auto 0;
    padding-bottom: 50px;*/
    position: relative;
    top: -400px;
}

#album-title h2 {
    margin: 30px auto;
    font-weight: 600;
    font-size: 1.2em;
    text-transform: uppercase;
    text-align: center;
}

/*.play-pause-button {
    font-size: 50px;
    cursor: pointer;
}

.jp-play {
    background-image: url("../custom_images/hamburger-black.svg");
}

.jp-pause {
    background-image: url("../custom_images/hamburger-black.svg");
}*/

/* Audio Player */
.audioplayer {
    width: 100%;
}

.playbutton {
    position: absolute;
    top: 7px;
    left: -1px;
    display: inline-block;

    height: 15px;
    width: 15px;
    border: none;
    outline: none;
    cursor: pointer;
    opacity: 0;
    visibility: hidden;
    transition: all 0.25s ease;
}

.play {
    background-image: url('../custom_images/play-arrow.svg');
}

.pause {
    background-image: url('../custom_images/pause-bars.svg');
}

.play,
.pause {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.playbutton.active {
    opacity: 1;
    visibility: visible;
}

.timeline {
    width: 100%;
    height: 2px;
    border-radius: 0;
    background: #efefef;
}

.playhead {
    width: 10px;
    height: 2px;
    /*border-radius: 50%;
    background: #8e8e93;*/
    background: #0070c9;
    cursor: pointer;
}

.share-links {
    display: inline-block;
    padding: 0;
    margin: 0 5px;
}

.share-links a {
    display: inline-block;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    width: 20px;
    height: 100%;
    text-indent: -3000px;
    cursor: pointer;
    transition: all 0.25s ease;
}

.track-lyric-link a.more-icon {
    display: none;
    background-image: url('../custom_images/download.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    width: 20px;
    height: 100%;
    text-indent: -3000px;
    cursor: pointer;
    transition: all 0.25s ease;
}

.share-links a:hover {
    opacity: 0.8;
}

.album-tracks tr.track .amazon a,
.album-share-links .amazon a, 
.album-tracks tr.track.inactive .amazon a,
.mobile-share-links .amazon a  {
    background-image: url('../custom_images/share_icons/amazon-circle.png');
}
.album-tracks tr.track .itunes a,
.album-share-links .itunes a,
.album-tracks tr.track.inactive .itunes a,
.mobile-share-links .itunes a  {
    background-image: url('../custom_images/share_icons/itunes.svg');
}
.album-tracks tr.track .google a,
.album-share-links .google a,
.album-tracks tr.track.inactive .google a,
.mobile-share-links .google a {
    background-image: url('../custom_images/share_icons/google-play.png');
}
.album-tracks tr.track .spotify a,
.album-share-links .spotify a,
.album-tracks tr.track.inactive .spotify a,
.mobile-share-links .spotify a {
    background-image: url('../custom_images/share_icons/spotify.svg');
}
.album-tracks tr.track .youtube a,
.album-share-links .youtube a,
.album-tracks tr.track.inactive .youtube a,
.mobile-share-links .youtube a {
    background-image: url('../custom_images/share_icons/youtube-circle.png');
}
.album-tracks tr.track .deezer a,
.album-share-links .deezer a,
.album-tracks tr.track.inactive .deezer a,
.mobile-share-links .deezer a {
    background-image: url('../custom_images/share_icons/deezer-logo.svg');
}
.album-tracks tr.track .soundcloud a,
.album-share-links .soundcloud a,
.album-tracks tr.track.inactive .soundcloud a,
.mobile-share-links .soundcloud a {
    background-image: url('../custom_images/share_icons/soundcloud-logo.svg');
}
.album-tracks tr.track .tidal a,
.album-share-links .tidal a,
.album-tracks tr.track.inactive .tidal a,
.mobile-share-links .tidal a {
    background-image: url('../custom_images/share_icons/tidal-circle.png');
}
.album-tracks tr.track .vevo a,
.album-share-links .vevo a,
.album-tracks tr.track.inactive .vevo a,
.mobile-share-links .vevo a {
    background-image: url('../custom_images/share_icons/vevo-circle.png');
}





.album-share-links .share-links a:hover {
    opacity: 0.7;
}
.album-share-links .share-links.facebook a {
    background-image: url('../custom_images/share_icons/facebook-logo-button.svg');
}
.album-share-links .share-links.twitter a {
    background-image: url('../custom_images/share_icons/twitter-logo-button.svg');
}
.album-share-links .share-links.linkedin a {
    background-image: url('../custom_images/share_icons/linkedin-button.svg');
}
.album-share-links .share-links.pinterest a {
    background-image: url('../custom_images/share_icons/pinterest-logotype-circle.svg');
}
.album-share-links .share-links.tumblr a {
    background-image: url('../custom_images/share_icons/tumblr-logo-button.svg');
}




#album-content {
    /*float: left;
    width: 45%;
    min-width: 520px;
    margin: 0 auto;*/
    
    /*background-color: rgba(0, 0, 0, 0.8);*/
    margin-bottom: 50px;
}
#album-about {
    /*width: 45%;
    float: right;*/
}
.about-content {
    margin-bottom: 50px;
}
#buy-album a {
    display: inline-block;
    text-transform: uppercase;
    text-align: center;
    padding: 10px 20px;
    margin: 0 0 0 5px;
    border: 1px solid #000000;
    background-color: #000000;
    color: #ffffff;
    transition: all 0.25s ease;
}
#buy-album h4 {
    margin: 20px 0;
}
#buy-album a:nth-child(2) {
    margin: 0;
}
#buy-album a:hover {
    /*opacity: 0.7;*/
    border: 1px solid #000000;
    background-color: #ffffff;
    color: #000000;
}




.music-album-cover {
    display: block;
    margin: 0 auto;
    /*width: 45%;*/
    width: 526px;
    height: 526px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.music-album-cover img {
    width: 100%;
}

table.album-tracks, 
table.album-tracks caption, 
table.album-tracks tbody, 
table.album-tracks tfoot, 
table.album-tracks thead, 
table.album-tracks tr, 
table.album-tracks th, 
table.album-tracks td {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: middle;
    background: transparent;
}

.album-tracks {
    margin-top: 30px;
    border-collapse: collapse;
}
.album-tracks th {
    font-weight: 200;
    font-size: 1em;
    color: #8e8e93;
    margin-bottom: 35px;
}
.album-tracks tr:first-child {
    max-width: 200px;
}
.album-tracks th td {
    text-align: center;
}

.album-tracks tr.track {
    /*cursor: pointer;*/
    padding: 5px 0;
    line-height: 31px;
}





.album-tracks tr.track.inactive {
    background-color: #ffffff;
}
.album-tracks tr.track:hover {
    background-color: #f2f8fc;
    /*background-color: #efefef;*/
}
.album-tracks tr.track:hover h4,
.album-tracks tr.track:hover span,
.album-tracks tr.track:hover p {
    color: #0070c9;
}
.album-tracks tr.track:hover .itunes a {
    background-image: url('../custom_images/share_icons/itunes_blue.svg');
}
.album-tracks tr.track:hover .amazon a {
    background-image: url('../custom_images/share_icons/amazon-circle-blue.png');
}
.album-tracks tr.track:hover .google a {
    background-image: url('../custom_images/share_icons/google-play-blue.png');
}
.album-tracks tr.track:hover .spotify a {
    background-image: url('../custom_images/share_icons/spotify_blue.svg');
}
.album-tracks tr.track:hover .youtube a {
    background-image: url('../custom_images/share_icons/youtube-circle-blue.png');
}
.album-tracks tr.track:hover .deezer a  {
    background-image: url('../custom_images/share_icons/deezer-logo-blue.svg');
}
.album-tracks tr.track:hover .soundcloud a  {
    background-image: url('../custom_images/share_icons/soundcloud-logo-blue.svg');
}
.album-tracks tr.track:hover .tidal a  {
    background-image: url('../custom_images/share_icons/tidal-circle-blue.png');
}
.album-tracks tr.track:hover .vevo a  {
    background-image: url('../custom_images/share_icons/vevo-circle-blue.png');
}


.album-tracks tr.track:hover .play,
.album-tracks tr.track.inactive .play {
    background-image: url('../custom_images/play-arrow-blue.svg');
}
.album-tracks tr.track:hover .pause,
.album-tracks tr.track.inactive .pause {
    background-image: url('../custom_images/pause-bars-blue.svg');
}


.album-tracks tr.track.active {
    background-color: #f2f8fc;
    /*background-color: #efefef;*/
}
.album-tracks tr.track.active h4,
.album-tracks tr.track.active span,
.album-tracks tr.track.active p {
    color: #0070c9;
}
.album-tracks tr.track.active .itunes a  {
    background-image: url('../custom_images/share_icons/itunes_blue.svg');
}
.album-tracks tr.track.active .amazon a  {
    background-image: url('../custom_images/share_icons/amazon-circle-blue.png');
}
.album-tracks tr.track.active .google a  {
    background-image: url('../custom_images/share_icons/google-play-blue.png');
}
.album-tracks tr.track.active .spotify a  {
    background-image: url('../custom_images/share_icons/spotify_blue.svg');
}
.album-tracks tr.track.active .youtube a  {
    background-image: url('../custom_images/share_icons/youtube-circle-blue.png');
}
.album-tracks tr.track.active .deezer a  {
    background-image: url('../custom_images/share_icons/deezer-logo-blue.svg');
}
.album-tracks tr.track.active .soundcloud a  {
    background-image: url('../custom_images/share_icons/soundcloud-logo-blue.svg');
}
.album-tracks tr.track.active .tidal a  {
    background-image: url('../custom_images/share_icons/tidal-circle-blue.png');
}
.album-tracks tr.track.active .vevo a  {
    background-image: url('../custom_images/share_icons/vevo-circle-blue.png');
}


.album-tracks tr.track.active .play {
    background-image: url('../custom_images/play-arrow-blue.svg');
}
.album-tracks tr.track.active .pause {
    background-image: url('../custom_images/pause-bars-blue.svg');
}





.album-tracks td {
    position: relative;
}

.album-tracks ul {
    list-style: none;
}

/*.album-tracks li {
    position: relative;
    cursor: pointer;
}*/

.album-tracks li:hover .playbutton,
.album-tracks .track:hover .playbutton {
    opacity: 1;
    visibility: visible;
}
.album-tracks li:hover h4 span,
.album-tracks .track:hover h4 span {
    visibility: hidden;
}
.album-tracks tr h4 {
    display: inline-block;
    
}

.album-tracks tr.track h4
.album-tracks tr.track.inactive h4 {
    color: #000000;
}

.album-tracks tr p,
.album-tracks tr span,
.album-tracks tr.track.inactive span,
.album-tracks tr.track.inactive p {
    color: #8e8e93;
    
}

.album-tracks li h4,
.album-tracks td h4 {
    font-size: 1em;
    margin: 0;
    text-transform: uppercase;
}

.album-tracks li h4 span.track-number,
.album-tracks tr h4 span.track-number {
    padding-right: 10px;
    visibility: visible;
    transition: all 0.25s ease;
}
.album-tracks li h4 span.active,
.album-tracks tr h4 span.active {
    padding-right: 10px;
    visibility: hidden;
}
.album-tracks li h4 span.inactive,
.album-tracks tr h4 span.inactive {
    padding-right: 10px;
    visibility: visible;
}


.track-time span {
    float: right;
}

.track-share-links {
    /*position: absolute;
    top: 6px;
    right: 0;
    float: right;*/
    text-align: center;
}
.track-share-links .share-links {
    /*float: right;*/
}
.track-lyrics {
    /*height: 0;
    visibility: hidden;
    opacity: 0;*/
    max-height: 0;
    box-sizing: border-box;
    overflow: hidden;
    
    transition: all 0.2s ease;
}

.track-lyrics p {
    display: block;
    margin: 20px auto 40px;
    /*padding: 0 12%;*/
    text-align: center;
    color: #8e8e93;
}


.track-lyrics.active {
    /*height: 100%;
    visibility: visible;
    opacity: 1;*/
    max-height: 100%;
    overflow-y: scroll;
    transition: all 0.2s ease;
}
.track-lyrics.active p {}

th.track-lyric-link {
    cursor: initial;
}
.track-lyric-link {
    margin: 0;
    cursor: pointer;
    transition: all 0.25s ease;
    /*float: right;
    padding-right: 80px;
    padding-top: 10px;*/
}
.track-lyric-link:hover {
    opacity: 0.7;
}

.album-share-links {
    margin-top: 50px;
}
.album-share-links h5 {
    font-weight: 200;
    font-size: 1em;
    color: #8e8e93;
}



/****************************************/
/* Track Share Links - Mobile
/****************************************/
.mobile-share-links {
    display: none;
    /*width: 60%;*/
    margin: 10px auto;
}

.mobile-share-links p {
    display: block !important;
    text-align: center;
    margin: 15px 0 0 0;
    padding: 0;
}

.mobile-share-links .links-container p {
    display: inline-block !important;
}
.mobile-share-links .links-container .share-links a {
    width: 25px;
}

.share-track-mobile {
    margin: 0 auto;
}






#album-additional-info {
    display: block;
    margin-top: 60px;
}
#album-additional-info .left-container {
    float: left;
    width: 45%;
}
#album-additional-info .right-container {
    float: right;
    width: 45%;
    margin-top: 40px;
}


/* Style the tab */
.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #000000;
}

/* Style the buttons that are used to open the tab content */
.tab button {
    background-color: inherit;
    color: #ffffff;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    line-height: 10px;
    border-radius: 0;
}

/* Change background color of buttons on hover */
.tab button:hover {
    /*background-color: #636363;*/
    background-color: #ffffff;
    color: #000000;
}

/* Create an active/current tablink class */
.tab button.active {
    /*background-color: #636363;*/
    background-color: #ffffff;
    color: #000000;
}

/* Style the tab content */
.tabcontent {
    display: none;
    /*padding: 6px 12px;*/
    border: none;
}
.tabcontent.active {
    display: block;
}


.tabcontent h3 {
    padding: 40px 0;
    margin: 0;
}
.contributor-list {
    margin: 0;
    padding: 0;
    list-style: none;
}
.contributor-list li {
    list-style: none;
}
.contributor-list li .contents {
    /*height: 45px;
    display: table-cell;*/
    vertical-align: middle;
}
    
.contributor-list li .contributor-img {
    position: relative;
    top: 5px;
    margin: 0 10px;
    width: 25px;
    height: 25px;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 50%;
    display: inline-block;
}
.contributor-list li a {
    display: inline-block;
    text-transform: uppercase;
    margin-right: 10px;
}
.contributor-list li p {
    text-transform: uppercase;
    margin: 0;
}
.contributor-list li span.contributed-icon {
    position: relative;
    top: 1px;
    margin: 0 5px;
    width: 15px;
    height: 15px;
    background-size: cover;
    background-repeat: no-repeat;
    display: inline-block;
}
.contributor-list li span.guitar {
    background-image: url('../custom_images/music_icons/guitar-black-shape.svg');
}
.contributor-list li span.violin {
    background-image: url('../custom_images/music_icons/violin-silhouette.svg');
}
.contributor-list li span.synth {
    background-image: url('../custom_images/music_icons/piano.svg');
}

.contributed-tracks {
    display: inline-block;
}
.contributed-tracks p {
    margin: 0 10px;
    display: inline-block;
    font-size: 12px;
    color: #636363;
}
.contributed-tracks span {
    color: #636363;
    font-size: 12px;
    margin: 0 5px 0 0;
    text-align: center;
    display: inline-table;
}






.tabcontent #video-carousel {
    /*visibility: hidden;
    display: none;*/
}
.tabcontent #video-carousel.active {
    /*visibility: visible;*/
    display: block;
}
.tabcontent #video-carousel div.video-container h4 {
    text-align: center;
    font-size: 1em;
    text-transform: uppercase;
    max-width: 200px;
    margin: 0 auto 10px;
}
.tabcontent #video-carousel div.youtube iframe {
    display: block;
    margin: 0 auto;
    width: 90%;
    /*min-height: 150px;
    height: 100%;
    max-width: 600px;
    height: 338px;
    width: 382px;
    height: 215px;*/
}
.tabcontent #video-carousel div.vimeo iframe {
    display: block;
    margin: 0 auto;
    width: 100%;
    /*min-height: 150px;
    height: 100%;
    max-width: 600px;
    height: 338px;
    width: 382px;
    height: 215px;*/
}

.slick-initialized .slick-slide {
    /*min-width: 200px;*/
}
.slick-dots {
    position: relative !important;
    bottom: -20px !important;
}






/****************************************/
/* iPad - Landscape
/****************************************/
@media only screen and (min-width : 768px) and (max-width : 1024px) and (orientation : landscape) {

    .music-album .album-cover {
        min-height: 300px;
    }

    .music-album .album-overlay .overlay-content {
        top: 34%;
    }

    .album-review {
        width: 25%;
    }

    .album-review .rating {
        max-width: 106px;
    }

    .music-album-cover {
        width: 486px;
        height: 486px;
    }
}


/****************************************/
/* iPad - Portrait
/****************************************/
@media only screen and (min-width : 768px) and (max-width : 1024px) and (orientation : portrait) {
    
    .music-album .album-cover {
        min-height: 220px;
    }

    .music-album .album-overlay .overlay-content {
        top: 24%;
    }
    
    .parallax {  
        height: 330px; 
    }
        
    .parallax-content {
        top: -220px;
    }

    .music-album-cover {
        width: 426px;
        height: 426px;
    }

    #album-content,
    #album-about {
        float: none;
        margin: 0 auto;
        width: 90%;
    }

    .album-share-links {
        margin: 50px auto;
    }

    .track-time {
        display: none;
    }

    .album-review {
        width: 25% !important;
    }

    .album-review .rating {
        max-width: 106px;
    }

}


/****************************************/
/* Mobile - Landscape
/****************************************/
@media only screen and (min-width : 300px) and (max-width : 736px) and (orientation : landscape) {
    
    .music-album .album-cover {
        min-height: 210px;
    }

    .music-album .album-overlay .overlay-content {
        top: 29%;
    }

    .overlay-content a {
        left: 9%;
        width: 80%;
    }
    
    .parallax {  
        height: 240px; 
    }
        
    .parallax-content {
        top: -180px;
    }

    .music-album-cover {
        width: 396px;
        height: 396px;
    }

    #album-content,
    #album-about {
        float: none;
        margin: 0 auto;
        width: 100%;
    }

    .album-share-links {
        margin: 50px auto;
    }

    .album-review {
        width: 33.3%;
    }

    .album-review .rating {
        max-width: 106px;
    }

    .track-lyrics.active {
        max-height: 100%;
    }
    .track-lyrics p {
        font-size: 12px;
    }

    .track-lyric-link p {
        display: none !important;
    }

    .track-time,
    .track-share-links {
        width: 0;
        /* visibility: hidden; */
        display: none;
    }

    

    .mobile-share-links {
        display: block;
    }

    .track-lyric-link {
        text-align: center;
    }

    .track-lyric-link a.more-icon {
        display: block;
        margin: 0 auto;
    }
}


/****************************************/
/* Mobile - Portrait
/****************************************/
@media only screen and (min-width : 300px) and (max-width : 736px) and (orientation : portrait) {
    
    #music-album-content {
        margin: 20px 0;
    }
    
    .music-album {
        width: 100%;
    }
    
    .music-album .album-overlay .overlay-content {
        top: 37%;
    }

    .overlay-content a {
        left: 25%;
        width: 50%;
    }

    .music-album .album-cover {
        min-height: 370px;
    }
    .sorting-container button {
        padding: 0 26px;
    }
    
    .parallax {  
        height: 240px; 
    }
        
    .parallax-content {
        top: -170px;
    }

    .music-album-cover {
        width: 316px;
        height: 316px;
    }

    #album-content,
    #album-about {
        float: none;
        margin: 0 auto;
        width: 100%;
    }

    .about-content h3,
    #buy-album h3 {
        margin: 50px 0 20px;
    }

    .left-container h3 {
        padding: 0;
        margin: 50px 0 20px;
    }

    #album-additional-info .right-container {
        margin: 20px 0 0;
    }

    .left-container h4,
    .right-container h4 {
        margin: 0 0 0.5em;
    }

    .right-container ul.contributor-list {
        margin: 0 0 20px;
    }
    
    table.album-tracks {
    }

    .track-lyrics.active {
        max-height: 100%;
    }

    .album-share-links {
        margin: 50px auto;
    }

    .album-share-links a {
        width: 25px;
    }

    .track-lyric-link {
        text-align: center;
    }

    .track-lyric-link a.more-icon {
        display: block;
        margin: 0 auto;
    }

    .mobile-share-links {
        display: block;
    }

    .track-lyric-link p {
        display: none !important;
    }

    .track-time,
    .track-share-links,
    .tab {
        width: 0;
        /* visibility: hidden; */
        display: none;
    }

    #album-additional-info .left-container,
    #album-additional-info .right-container {
        float: none;
        width: 100%;
    }

    .album-review {
        float: none !important;
        margin: 0 0 10px 0 !important;
        width: 100% !important;
    }

    .album-review .rating {
        max-width: 134px;
    }

    .album-review .rating .star {
        font-size: 18px;
    }

    .tabcontent {
        display: block;
    }

    #value-videos {
        min-height: 300px;
    }

    .video-section h3,
    .reviews-section h3 {
        margin: 50px 0 20px;
        padding: 0;
    }


}
