#post-content {
    margin: 0 auto 50px;
    width: 100%;
    max-width: 860px;

    border: 1px solid #e6e6e6;
    border-bottom-right-radius: 3px;
    border-top-right-radius: 3px;
}

#post-content h2 {
    text-align: center;
    text-transform: uppercase;
}

.post-image {
    float: left;
    display: inline-block;
    height: 100%;
    width: 100%;
    min-height: 600px;
    max-height: 600px;
    max-width: 70%;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.post-image img {
    display: block;
    width: auto;
    height: 100%;
}








#post-info {
    position: relative;
    float: left;
    max-width: 30%;
    max-height: 600px;
    height: 600px;
    padding-top: 40px;
}

#masthead {
    position: absolute;
    top: 0;
    width: 100%;
    height: 40px;
    background-color: #000;
}

#masthead h3 {
    margin: 0;
    line-height: 40px;
    padding: 0 0 0 10px;
    color: #fff;
    text-transform: uppercase;
    font-size: 14px;
}

.comment-section {
    max-height: 360px;
    overflow-y: scroll;
    z-index: 0;
}

.post-caption {
    padding: 20px;
    color: #000;
}

.post-caption p {
    word-break: break-word;
    font-weight: 600;
    margin: 0;
}

.user_comment {
    padding: 0 20px 20px 20px;
}

.user_comment p {
    display: inline;
}

.username {
    word-break: break-word;
    font-weight: 600;
    text-transform: uppercase;
    padding-right: 5px;
}

.comment {
    word-break: break-word;
    font-style: italic;
}


#post-footer {
    position: absolute;
    bottom: 0;
    height: 200px;
    width: 100%;
    background-color: #000;
    z-index: 1;
}


.post-likes {
    margin: 10px;
}

.like-icon {
    float: left;
    width: 24px;
    height: 24px;
    background-image: url('../custom_images/like.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.post-likes p {
    display: inline-block;
    margin: 0;
    color: #fff;
    padding-left: 10px;
    line-height: 24px;
}

.app-download {
    margin: 0 auto 15px;
    display: block;
    width: 245px;
    height: 81px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    cursor: pointer;
    transition: all 0.25s ease;
    text-indent: -3000px;
}

#app-download-apple {
    background-image: url('http://localhost/wp-content/uploads/2018/02/share_appleStore.png');
}

#app-download-apple:hover {
    background-image: url('http://localhost/wp-content/uploads/2018/02/share_appleStore_hover.png');
}

#app-download-google {
    background-image: url('http://localhost/wp-content/uploads/2018/02/share_googlePlay.png');
}

#app-download-google:hover {
    background-image: url('http://localhost/wp-content/uploads/2018/02/share_googlePlay_hover.png');
}


/****************************************/
/* iPad - Portrait
/****************************************/
@media only screen and (min-width : 768px) and (max-width : 1024px) and (orientation : portrait) {
}


/****************************************/
/* iPad - Landscape
/****************************************/
@media only screen and (min-width : 768px) and (max-width : 1024px) and (orientation : landscape) {
}


/****************************************/
/* Mobile - Portrait
/****************************************/
@media only screen and (min-width : 300px) and (max-width : 736px) and (orientation : portrait) {
    .post-image {
        min-height: 300px;
        min-width: 100%;
        max-height: 300px;
        max-width: 300px;
    }

    #post-info  {
        float: left;
        width: 100%;
        height: initial;
        max-height: initial;
        max-width: 100%;
    }

    .comment-section {
        max-height: initial;
    }

    #post-footer {
        position: relative;
    }

    .post-likes {
        margin: 0;
        padding: 10px;
    }

}

/****************************************/
/* Mobile - Landscape
/****************************************/
@media only screen and (min-width : 300px) and (max-width : 736px) and (orientation : landscape) {
}