/**********************************
* Press page - PDF button
**********************************/
.pdf-button button.vc_general  {
    line-height: 14px;
}




/**********************************
* Get App Links
**********************************/
a.wr1-app-link:hover img {
    opacity: 0.7;
    transition: all 0.25s ease;
}
.single_add_to_cart_button {
    float: initial !important;
}




/**********************************
* Footer Caption
**********************************/
#media_image-2 .wp-caption-text {
    display: none;
}




.shop-top-sidebar, 
.jas-sticky-atc {
    display: none !important;
}

.wpb_content_element {
    margin-bottom: 0 !important;
}






/*****************************
* Stripe Checkout 
* Button - CTA 
*****************************/
.single-product div.product .stripe-enabled form.cart .quantity~.button {
    width: calc(100%) !important;
}

table.variations td.label {
    text-transform: uppercase;
    font-weight: 600;
}

table.variations .value select {
    /*-webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: none;
    border: 0;
    outline: 0;
    padding: 0;
    color: #999;
    font-size: 14px;
    cursor: pointer;
    width: 100%;
    height: 38px;
    line-height: 38px;
    padding: 0 30px 0 10px;*/
}



table.variations td.value select {
    /*border: 1px solid #999;
    padding: 0;*/
}

table.variations td.value::after {
    /*content: '\f107';
    position: absolute;
    font-family: 'FontAwesome';
    right: 10px;
    top: 7px;
    pointer-events: none;*/
}


table.variations td.value select {
    border: 1px solid #999;
    padding: 0;


    line-height:normal;
    height:38px;
    -webkit-appearance:none;
    -moz-appearance:none;
    -ms-appearance:none;
    appearance:none;
    width:200px;
    border-radius:6px;
    display:block;
    width:100%;
    border:1px solid #c8c8c8;
    background:#fff url(images/inpbg.png) repeat-x 0 0;
    color:#9f9f9f;
    padding:8px 20px 7px 10px;
    margin:0;
    line-height:normal;
    -webkit-border-radius:2px;
    -moz-border-radius:2px;
    border-radius:2px;
}

.ie8 table.variations td.value select {
    padding-right:3px;
}

table.variations td.value select:focus {
    background:#f9f9f9;
    outline:none;
    box-shadow:0 0 10px rgba(0, 0, 0, 0.3), inset 0 0 7px rgba(100,100,100,0.3);
    border-color:#00c0f3;
}

table.variations td.value::-ms-expand {
    display:none;
}

table.variations td.value:after{
    /*content: '\f107';
    position: absolute;
    font-family: 'FontAwesome';
    right: 10px;
    top: 7px;
    pointer-events: none;*/


    content:"";
    position:absolute;
    z-index:2;
    right:8px;
    top:50%;
    margin-top:-3px;
    height:0;
    width:0;
    border-top:6px solid #f99300;
    border-left:6px solid transparent;
    border-right:6px solid transparent;
    pointer-events:none;
}

/*label {
    display:block;
}

.label-stacked {
    display:block;
    color:#505050;
    padding:10px 0 7px 2px;
    font-size:14px;
    font-weight:bold;
    line-height:1.1;
}*/



/*****************************
* Add to cart form
*****************************/
.woocommerce-variation-add-to-cart .quantity {
    margin-bottom: 20px;
}


/*****************************
* Printify size labels
*****************************/
.swatch.is-label .swatch__value {
    text-transform: uppercase;
}


/*****************************
* Octopus Email - Subscribe
*****************************/
.emailoctopus-form-row-subscribe button {
    cursor: pointer;
    border: 2px solid !important;
    padding: 0 34px !important;
    background: #fff;
    border-radius: 40px;
    font-size: 14px;
    font-weight: 600 !important;
}


/*****************************
* Subscription switching table
*****************************/
table.group_table {
    margin-bottom: 30px !important;
}
td.woocommerce-grouped-product-list-item__quantity a i.fa-shopping-cart {
    display: none;
}

td.woocommerce-grouped-product-list-item__quantity a {
    display: block;
    min-width: 140px;
    padding: 0 10px;
}


/*****************************
* Wishlist button
*****************************/
.yith-wcwl-add-to-wishlist {
    display: block;
    float: none !important;
}