/**handles:emailoctopus-widget-styles**/
.emailoctopus-form-wrapper h2 {
    font-size: 20px;
    margin: 0 0 25px 0;
}
.emailoctopus-form-row {
    margin-bottom: 15px;
}
.emailoctopus-form-row label {
    display: block;
}
.emailoctopus-form-row input[type="text"] {
    box-sizing: border-box;
    width: 100%;
    max-width: 400px;
    border: 1px solid #ccc;
}
.emailoctopus-form-row input[type="checkbox"] + label {
    display: inline;
}
.emailoctopus-form-row-subscribe {
    margin-top: 20px;
}
.emailoctopus-form-row-subscribe button {
    padding: 6px 12px;
    border: 0;
    font-weight: bold;
}
.emailoctopus-form-row-hp {
    position: absolute;
    left: -5000px;
}
.emailoctopus-error-message {
    color: #e74c3c;
}
.emailoctopus-referral {
    margin-top: 20px;
}