/**handles:jas-claue-style**/
/*
Theme Name: Claue Child Artist Template
Theme URI: http://www.janstudio.net/claue
Author: JanStudio
Author URI: http://www.janstudio.net
Description: The best woocommerce theme for online fashion store, furniture store, handemade store, organic store, wordpress personal portfolio, personal blog.
Template: claue
Version: 1.0.0
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Text Domain: claue
Tags: one-column, two-columns, right-sidebar, custom-background, custom-colors, custom-header, custom-menu, editor-style, featured-images, flexible-header, microformats, post-formats, rtl-language-support, sticky-post, threaded-comments, translation-ready
*/

/* Theme page title */
.page-head {
    display: none;
}

/* Switch subscriptions form */
form.group_table a.product_type_variable-subscription {
    padding: 0;
    display: block;
    text-transform: uppercase;
    min-width: 140px;
}

form.group_table a.product_type_variable-subscription i {
    display: none;
}

/* WIP - Free shipping label */
body.free-shipping table.woocommerce-checkout-review-order-table tr.shipping,
body.free-shipping table.shop_table_responsive tr.shipping {
    display: none;
}