/**handles:slick**/
.slick-slider {
	position: relative;
	display: block;
	box-sizing: border-box;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-touch-callout: none;
	-khtml-user-select: none;
	-ms-touch-action: pan-y;
	touch-action: pan-y;
	-webkit-tap-highlight-color: transparent;
}
.slick-list {
	position: relative;
	display: block;
	overflow: hidden;
	margin: 0;
	padding: 0;
}
.slick-list:focus {
	outline: none;
}
.slick-list.dragging {
	cursor: pointer;
	cursor: hand;
}
.slick-slider .slick-track, .slick-slider .slick-list {
	-webkit-transform: translate3d(0, 0, 0);
	-moz-transform: translate3d(0, 0, 0);
	-ms-transform: translate3d(0, 0, 0);
	-o-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}
.slick-track {
	position: relative;
	top: 0;
	left: 0;
	display: block;
}
.slick-track:before, .slick-track:after {
	display: table;
	content: '';
}
.slick-track:after {
	clear: both;
}
.slick-loading .slick-track {
	visibility: hidden;
}
.slick-slide {
	display: none;
	float: left;
	height: 100%;
	min-height: 1px;
	outline: 0;
}
[dir='rtl'] .slick-slide {
	float: right;
}
.slick-slide img {
	display: block;
}
.slick-slide.slick-loading img {
	display: none;
}
.slick-slide.dragging img {
	pointer-events: none;
}
.slick-initialized .slick-slide {
	display: block;
}
.slick-loading .slick-slide {
	visibility: hidden;
}
.slick-vertical .slick-slide {
	display: block;
	height: auto;
	border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
	display: none;
}
.slick-loading .slick-list {
	background: #fff url('https://clone.wr1.com/wp-content/themes/claue/assets/vendors/slick/ajax-loader.gif') center center no-repeat;
}
.slick-prev, .slick-next {
	position: absolute;
	display: block;
	text-indent: -999em;
	cursor: pointer;
	outline: none;
	padding: 0;
	overflow: hidden;
	width: 38px;
	height: 38px;
	z-index: 8;
	top: 50%;
	background: none;
	opacity: 0;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
}
.slick-slider:hover .slick-prev,
.slick-slider:hover .slick-next {
	opacity: .8;
}
.slick-slider .slick-prev:hover,
.slick-slider .slick-next:hover {
	opacity: 1;
}
.slick-prev.slick-disabled:before, .slick-next.slick-disabled:before {
	opacity: .25;
}
.slick-prev:before, .slick-next:before {
	font-family: 'Pe-icon-7-stroke';
	font-size: 30px;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-indent: 0;
	display: block;
}
.slick-prev {
	left: 30px;
}
[dir='rtl'] .slick-prev {
	right: 30px;
	left: auto;
}
.slick-prev:before {
	content: '\e686';
}
[dir='rtl'] .slick-prev:before {
	content: '\e684';
}
.slick-next {
	right: 30px;
}
[dir='rtl'] .slick-next {
	right: auto;
	left: 30px;
}
.slick-next:before {
	content: '\e684';
}
[dir='rtl'] .slick-next:before {
	content: '\e686';
}
.p-nav .slick-prev, .p-nav .slick-next {
	bottom: -32px;
	top: auto;
	-webkit-transform: translateY(0);
	   -moz-transform: translateY(0);
	    -ms-transform: translateY(0);
	     -o-transform: translateY(0);
	        transform: translateY(0);
}
.p-nav .slick-prev:before,
.p-nav .slick-next:before {
	font-size: 32px;
}
.p-nav .slick-prev {
	left: 10px;
}
.p-nav .slick-next {
	right: 10px;
}
/* Dots */
.slick-dotted.slick-slider {
	margin-bottom: 30px;
}
.slick-dots {
	position: absolute;
	bottom: 0;
	display: block;
	width: 100%;
	padding: 0;
	margin: 0;
	list-style: none;
	text-align: center;
	z-index: 999;
}
.product-quickview .slick-dots {
	bottom: 15px;
}
.slick-dots li {
	position: relative;
	display: inline-block;
	width: 10px;
	height: 10px;
	margin: 0 5px;
	padding: 0;
	cursor: pointer;
}
.slick-dots li button {
	font-size: 0;
	line-height: 0;
	display: block;
	width: 10px;
	height: 10px;
	padding: 5px;
	cursor: pointer;
	color: transparent;
	border: 0;
	outline: none;
	background: transparent;
}
.slick-dots li button:hover, .slick-dots li button:focus {
	outline: none;
}
.slick-dots li button:hover:before, .slick-dots li button:focus:before {
	opacity: 1;
}
.slick-dots li button:before {
	font-family: 'slick';
	font-size: 40px;
	line-height: 15px;
	position: absolute;
	top: 0;
	left: 0;
	width: 15px;
	height: 15px;
	content: '•';
	text-align: center;
	opacity: .25;
	color: black;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
.slick-dots li.slick-active button:before {
	opacity: .75;
	color: black;
}