/**handles:custom-style**/
/******************************************
* Ticket List Display
* Author: Ryan Mahabir
* Date: 2018-28-01
******************************************/




/******************************************
* CSS styles - Admin Page
******************************************/
.header-admin {}

.header-admin h2 {
	display: inline-block;
}
.header-admin .icon {
	display: inline-block;
	width: 30px;
	height: 30px;
	margin: 10px;
    float: left;
	background-image: url('https://clone.wr1.com/wp-content/plugins/ticket-list-display/css/images/menu-icon.svg');
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
}


#acf_after_title-sortables.inactive {
	display: none;
}

#instructions {
	padding: 20px;
}

#instructions h3 {
	text-transform: uppercase;
}

#instructions p {
	font-weight: normal;
}

#instructions p strong {
	color: rgb(255, 123, 0);
}

#instructions ul {
	padding: 10px;
    background-color: aliceblue;
    margin: 20px 0;
}

#instructions li {
	font-weight: normal;
}

#instructions li p strong {
	color:#333;
	text-transform: uppercase;
}

#instructions li p {
	color:rgb(90, 173, 240);
}


#instructions-figures {
	padding: 20px; 
	vertical-align: top;
}

#instructions-figures h4,
#instructions-figures p {
	display: inline-block;
}

#instructions-figures h4 {
	color: rgb(255, 123, 0);
}

#instructions-figures img {
	width: 100%;
}



/******************************************
* CSS styles - Header
******************************************/


/******************************************
* CSS styles - Table List
******************************************/
#event-ticket-display {
	list-style: none;
	margin: 35px 0;
}

#event-ticket-display li {
	border-bottom: 1px solid #000;
	padding: 20px 0;
}

#event-ticket-display li:last-child {
	border-bottom: none;
}

#event-ticket-display li div {
	vertical-align: middle;
}

.event-date-container {
	width: 10%;
	display: inline-block;
}

.event-date-container .event-month,
.event-date-container .event-date,
.event-date-container .event-year {
	color: rgb(0, 0, 0);
    font-weight: bold;
    text-transform: uppercase;
	text-align: center;
	margin: 0;
}

.event-date-container .event-month {
	font-size: 21px;
	line-height: 21px;
}
.event-date-container .event-date {
	font-size: 36px;
}
.event-date-container .event-year {
	font-size: 21px;
}

.event-information {
	width: 60%;
	display: inline-block;
	font-weight: 600;
	text-align: left;
	vertical-align: top !important;
}
.event-location {
	font-size: 21px;
	line-height: 21px;
	margin: 0;
}
.event-venue {
	font-size: 16px;
}

.event-price {
	width: 10%;
	display: inline-block;
}

.event-price span {
	font-weight: 200;
	text-align: left;
	color: #000;
}

.event-cta {
	width: 20%;
	display: inline-block;
}

.event-cta a.cta-button {
	width: 100%;
	max-width: 200px;
	
	display: block !important;
    text-transform: uppercase;
    text-align: center;
    padding: 0 25px;
    color: #fff !important;
    background: #000;
    line-height: 40px;
    margin: 0 auto;
    transition: all 0.25s ease;
    border: 1px solid #000 !important;
}

.event-cta a.cta-button:hover {
    color: #000 !important;
    background: #fff;
}



.event-cta a:last-child {
	margin-top: 15px;
}

.event-cta p {
	font-size: 16px;
    text-align: center;
    text-transform: uppercase;
}





#event-ticket-display li.expired-event,
#event-ticket-display li.sold-out-event {
	opacity: 0.3;
}
#event-ticket-display li.expired-event a,
#event-ticket-display li.sold-out-event a {
	pointer-events: none;	
}

#event-ticket-display li.sold-out-event .event-cta p,
#event-ticket-display .error-msg {
	color: #ff0000;
}




@media only screen and (min-width : 375px) and (max-width : 736px) and (orientation : portrait) {

	.event-date-container,
	.event-information,
	.event-price,
	.event-cta {
		float: none;
		width: 100%;
	}

	.event-information,
	.event-price {
		margin-top: 15px;
		text-align: center;
	}

	.event-cta {
		margin-top: 15px;
	}

	.event-cta a.cta-button {
		max-width: 100%;
	}
}


@media only screen and (min-width : 375px) and (max-width : 736px) and (orientation : landscape) {

	.event-information {
		vertical-align: middle !important;
		width: 40%;
		padding-left: 20px;
	}

	.event-price {
		width: 20%;
	}

	.event-cta {
		width: 30%;
	}	

}